<mat-toolbar>
  <button
    matIconButton
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button matIconButton aria-label="Login" matTooltip="Login">
    <mat-icon>login</mat-icon>
  </button>
  <button matIconButton aria-label="Register" matTooltip="Register">
    <mat-icon>app_registration</mat-icon>
  </button>
  <button matIconButton aria-label="Settings" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
