<mat-toolbar>
	<button
		matIconButton
		class="example-icon"
		aria-label="Example icon-button with menu icon"
		(click)="toggleMenu()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>My App</span>
	<span class="spacer"></span>
	<a matIconButton aria-label="Login" matTooltip="Login" routerLink="/login">
		<mat-icon>login</mat-icon>
	</a>
	<a
		matIconButton
		aria-label="Register"
		matTooltip="Register"
		routerLink="/register">
		<mat-icon>app_registration</mat-icon>
	</a>
	<a
		matIconButton
		aria-label="Settings"
		matTooltip="Settings"
		routerLink="/settings">
		<mat-icon>settings</mat-icon>
	</a>
</mat-toolbar>
