<mat-drawer-container
  class="drawer-container"
  [ngStyle]="cssStyles().matDrawerContainer"
  [hasBackdrop]="hasBackdrop()">

  <mat-drawer
    #startDrawerRef
    [autoFocus]="autoFocus()"
    [disableClose]="true"
    [style.width]="drawerWidth()"
    [mode]="mode()"
    [position]="'start'"
    [ngStyle]="cssStyles().matDrawer"
    role="region"
    [opened]="opened()"
    (keyup.escape)="onEscape()">
    <ng-content select="[startSidenavDrawer]"></ng-content>
  </mat-drawer>

  <mat-drawer
    #endDrawerRef
    [autoFocus]="autoFocus()"
    [disableClose]="true"
    [style.width]="drawerWidth()"
    [mode]="mode()"
    [position]="'end'"
    [ngStyle]="cssStyles().matDrawer"
    role="region"
    [opened]="opened()"
    (keyup.escape)="onEscape()">
    <ng-content select="[startSidenavDrawer]"></ng-content>
  </mat-drawer>


  <mat-drawer-content
    class="drawer-content"
    [ngStyle]="cssStyles().matDrawerContent">
    <ng-content select="[sidenavContent]"></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
