  @let playlist = songPlaylistService;
  @let play = playlist.play$ | async;

  <section class="filter-search-panel">
    <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="search" />
    </mat-form-field>

    <button
      mat-flat-button
      (click)="playlist.toggle.play$.next(true)">
      <mat-icon>
        play_arrow
      </mat-icon>
      Play
    </button>

    @let shuffleOn = playlist.toggle.shuffle$ | async;
    <button
      mat-flat-button
      matTooltipPosition="above"
      [matTooltip]="shuffleOn ? 'Turn shuffle off' : 'Turn shuffle on'"
      (click)="playlist.toggle.shuffle$.next(!shuffleOn)">
      <mat-icon>
        {{ shuffleOn ? 'shuffle_on' : 'shuffle' }}
      </mat-icon>
      Shuffle
    </button>
  </section>

<mat-list class="playlist">

  @for (song of (filteredSongs$ | async); track $index) {
    
    <span class="playlist-row">
    <button mat-list-item class="song-info" (click)="playlist.selectedIndex$.next($index)">
      <img
        class="song-cover-art"
        matListItemAvatar
        src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
        alt="song cover art" />

      <cite matListItemTitle>
        {{ song.song_title}}
      </cite>

      <span matListItemLine>
        {{ song.song_artist }}
      </span>
    </button>
    <button matIconButton [cdkMenuTriggerFor]="menu" class="playlist-row-menu-trigger">
      <mat-icon>more_horiz</mat-icon>
    </button>
    </span>
  }

</mat-list>

<ng-template #menu>
  <mat-list class="playlist-row-menu" cdkMenu>
      @for (menuItem of playlistRowMenu(); track $index) {
      <mat-list-item cdkMenuItem class="playlist-row-menu-item">
        <mat-icon matListItemIcon>{{ menuItem.icon }}</mat-icon>
        <span matListItemTitle>
          {{ menuItem.title }}
        </span>
      </mat-list-item>
      }
  </mat-list>
</ng-template>

<audio controls #audioPlayerRef [src]="play?.song_resource_url" [attr.autoplay]="!!play?.song_resource_url"></audio>
