<section class="song-playing-snackbar">
    <button class="song-playing-snackbar-info-button">
        <img
            class="song-cover-art"
            src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
            alt="song cover art" />
        <cite class="song-title">
            {{ snackBarData.song_title}}
        </cite>
    </button>
    <span
      class="song-playing-snackbar-action">
        <button 
          matIconButton 
          (click)="null">
            <mat-icon class="action-icon">play_circle</mat-icon>
        </button>
        <button
          matIconButton>
            <mat-icon class="action-icon">fast_forward</mat-icon>
        </button>
    </span>

</section>
