@use '@angular/material' as mat;

table {
	width: 100%;
}

:host {
	@include mat.icon-overrides(
		(
			color: orange,
		)
	);

	.star-rating .empty-star {
		color: lightgray;
	}

	.cdk-header-cell-align-start {
		text-align: left;
	}
}

.selection-menu {
	display: inline-flex;
	flex-direction: column;
	min-width: 180px;
	max-width: 280px;
	background-color: white;
	padding: 6px 0;

	.selection-menu-row {
		display: flex;
		justify-content: space-between;
	}
}
