@let displayedColumns = columns();

<section class="top-section">
	<span>
		<app-tab-group
			[tabs]="stepLabels()"
			class="step-tab-group"
			(tabClick)="onTabClick($event)" />
		<button mat-icon-button (click)="dataSource.filter = ''">
			<mat-icon>refresh</mat-icon>
		</button>
	</span>
	<div class="second-section">
		<mat-form-field>
			<mat-label>Group By: </mat-label>
			<mat-select
				class="group-by"
				[value]="groupBy()"
				(selectionChange)="groupBy.set($event.value)">
				<mat-option [value]="null"> None </mat-option>
				<mat-option value="Status"> Status </mat-option>
			</mat-select>
		</mat-form-field>
		<button matButton="outlined" [cdkMenuTriggerFor]="columnSelections">
			<mat-icon>view_column</mat-icon>
			Columns
		</button>
		<button matButton="outlined" [cdkMenuTriggerFor]="null">
			<mat-icon>menu</mat-icon>
			Menu
		</button>
		<button matButton="filled" (click)="addAJob()">
			<mat-icon>add_circle</mat-icon>
			Add a Job
		</button>
	</div>
</section>
<ng-template #columnSelections>
	<section
		cdkDropList
		class="selection-menu"
		(cdkDropListDropped)="drop($event)">
		@for (columnOption of optionalColumns(); track $index) {
		<span cdkDrag class="selection-menu-row">
			<mat-checkbox
				[checked]="columnOption.selected"
				(change)="onOptionalColumnsChange($index, $event.checked)">
				{{ columnOption.label }}
			</mat-checkbox>
			<mat-icon> drag_indicator </mat-icon>
		</span>
		}
	</section>
</ng-template>

<table
	cdk-table
	[dataSource]="dataSource"
	matSort
	multiTemplateDataRows
	(matSortChange)="onMatSortChange($event)">
	<ng-container cdkColumnDef="job_position">
		<th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Job Position</th>
		<td cdk-cell *cdkCellDef="let row" class="cdk-header-cell-align-start">
			<mat-form-field>
				<input
					matInput
					#jobPositionInputRef
					[class.input-btn]="!(jobPositionInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(jobPositionInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.job_position"
					(click)="onClick($event)"
					(blur)="jobPositionInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="company">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Company
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#companyInputRef
					[class.input-btn]="!(companyInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(companyInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.company"
					(click)="onClick($event)"
					(blur)="companyInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="min_salary">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Min. Salary
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#minSalaryInputRef
					[class.input-btn]="!(minSalaryInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(minSalaryInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.min_salary"
					(click)="onClick($event)"
					(blur)="minSalaryInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="max_salary">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Max. Salary
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#maxSalaryInputRef
					[class.input-btn]="!(maxSalaryInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(maxSalaryInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.max_salary"
					(click)="onClick($event)"
					(blur)="maxSalaryInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="job_location">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Location
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#locationInputRef
					[class.input-btn]="!(locationInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(locationInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.job_location"
					(click)="onClick($event)"
					(blur)="locationInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="application_status">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Status
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#applicationStatusInputRef
					[class.input-btn]="!(applicationStatusInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(applicationStatusInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.application_status"
					(click)="onClick($event)"
					(blur)="applicationStatusInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="posted_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Posted
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#postedDateInputRef
					[class.input-btn]="!(postedDateInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(postedDateInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.posted_date"
					(click)="onClick($event)"
					(blur)="postedDateInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="save_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Saved
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#saveDateInputRef
					[class.input-btn]="!(saveDateInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(saveDateInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.save_date | myDate"
					(click)="onClick($event)"
					(blur)="saveDateInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="deadline_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Deadline
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#deadlineDateInputRef
					[class.input-btn]="!(deadlineDateInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(deadlineDateInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.deadline_date | myDate"
					(click)="onClick($event)"
					(blur)="deadlineDateInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="applied_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Applied
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#appliedDateInputRef
					[class.input-btn]="!(appliedDateInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(appliedDateInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.applied_date | myDate"
					(click)="onClick($event)"
					(blur)="appliedDateInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="follow_up_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Follow Up
		</th>
		<td cdk-cell *cdkCellDef="let row">
			<mat-form-field>
				<input
					matInput
					#followUpDateInputRef
					[class.input-btn]="!(followUpDateInputRef.dataset['mode'] === 'edit')"
					[attr.type]="!(followUpDateInputRef.dataset['mode'] === 'edit') ? 'button' : 'text'"
					[value]="row.follow_up_date | myDate"
					(click)="onClick($event)"
					(blur)="followUpDateInputRef.dataset['mode'] = 'view'" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container cdkColumnDef="excitement">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Excitement
		</th>
		<td cdk-cell *cdkCellDef="let row">
			@for (star of stars(); track $index) { @let fill = row.excitement -
			$index;
			<button matIconButton class="star-rating">
				<mat-icon [class.empty-star]="fill < 0.5">
					@if (fill > 0 && fill < 1) { {{ 'star_half' }} } @if (fill >= 1) { {{
					'star' }} } @else { {{ 'star' }} }
				</mat-icon>
			</button>
			}
		</td>
	</ng-container>

	<!-- Secondary Column -->
	<ng-container cdkColumnDef="secondary">
		<td
			cdk-cell
			[attr.colspan]="displayedColumns.length"
			*cdkCellDef="let row; let dataIndex = dataIndex;">
			<!-- row.job_id exists in the ... display text -->
		</td>
	</ng-container>

	<tr
		cdk-header-row
		*cdkHeaderRowDef="displayedColumns; sticky: true"
		class="sticky-header"></tr>

	<!-- As we utilize multiTemplateDataRows directive for secondary row, the rowIndex reference should be dataIndex,
	 i.e: let rowIndex = dataIndex, NOT index, i.e: let rowIndex = index -->
	<tr
		#test
		cdk-row
		*cdkRowDef="let row; columns: ['secondary']; let rowIndex = dataIndex"></tr>

	<tr
		cdk-row
		*cdkRowDef="let row; columns: displayedColumns; let rowIndex = dataIndex"></tr>
</table>
