@use '@angular/material' as mat;

table {
	width: 100%;
}

:host {
	.star-rating {
		@include mat.icon-overrides(
			(
				color: orange,
			)
		);

		.empty-star {
			color: lightgray;
		}
	}

	.cdk-header-cell-align-start {
		text-align: left;
	}

	.top-section {
		display: flex;
		flex-direction: column;

		.second-section {
			display: flex;

				.group-by {
					width: fit-content;
				}

				button,
				.group-by {
				margin: 0.5rem;
				}
		}
	}
}

.selection-menu {
	display: inline-flex;
	flex-direction: column;
	min-width: 180px;
	max-width: 280px;
	background-color: white;
	padding: 6px 0;

	.selection-menu-row {
		display: flex;
		justify-content: space-between;
	}
}
