<section class="top-section">
	<app-tab-group [tabs]="stepLabels()" class="step-tab-group"></app-tab-group>
	<div class="second-section">
		<button matButton="outlined" [cdkMenuTriggerFor]="columnSelections">
			<mat-icon>view_column</mat-icon>
			Columns
		</button>
		<button matButton="outlined" [cdkMenuTriggerFor]="columnSelections">
			<mat-icon>menu</mat-icon>
			Menu
		</button>
		<button matButton="filled" [cdkMenuTriggerFor]="columnSelections">
			<mat-icon>add_circle</mat-icon>
			Add a New Job
		</button>
	</div>
</section>
<ng-template #columnSelections>
	<section cdkDropList class="selection-menu" (cdkDropListDropped)="drop($event)">
		@for (columnOption of optionalColumns(); track $index) {
		<span
		    cdkDrag
		    class="selection-menu-row" >
			<mat-checkbox 
		  		[checked]="columnOption.selected"
		  		(change)="onOptionalColumnsChange($index, $event.checked)">
				{{ columnOption.label }}
			</mat-checkbox>
			<mat-icon>
				drag_indicator
			</mat-icon>
		</span>
		}
	</section>
</ng-template>

<table 
	cdk-table
	[dataSource]="dataSource"
	matSort
	multiTemplateDataRows>
	<ng-container cdkColumnDef="job_position">
		<th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Job Position</th>
		<td cdk-cell *cdkCellDef="let row" class="cdk-header-cell-align-start">
			{{ row.job_position }}
		</td>
	</ng-container>

	<ng-container cdkColumnDef="company">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Company
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.company }}</td>
	</ng-container>

	<ng-container cdkColumnDef="min_salary">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Min. Salary
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.min_salary }}</td>
	</ng-container>

	<ng-container cdkColumnDef="max_salary">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Max. Salary
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.max_salary }}</td>
	</ng-container>

	<ng-container cdkColumnDef="job_location">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Location
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.job_location }}</td>
	</ng-container>

	<ng-container cdkColumnDef="application_status">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Status
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.application_status }}</td>
	</ng-container>

	<ng-container cdkColumnDef="posted_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Posted
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.posted_date }}</td>
	</ng-container>

	<ng-container cdkColumnDef="save_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Saved
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.save_date | myDate }}</td>
	</ng-container>

	<ng-container cdkColumnDef="deadline_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Deadline
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.deadline_date | myDate }}</td>
	</ng-container>

	<ng-container cdkColumnDef="applied_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Date Applied
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.applied_date | myDate }}</td>
	</ng-container>

	<ng-container cdkColumnDef="follow_up_date">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Follow Up
		</th>
		<td cdk-cell *cdkCellDef="let row">{{ row.follow_up_date | myDate }}</td>
	</ng-container>

	<ng-container cdkColumnDef="excitement">
		<th
			cdk-header-cell
			*cdkHeaderCellDef
			mat-sort-header
			class="cdk-header-cell-align-start">
			Excitement
		</th>
		<td cdk-cell *cdkCellDef="let row">
			@for (star of stars(); track $index) { @let fill = row.excitement -
			$index;
			<button matIconButton class="star-rating">
				<mat-icon [class.empty-star]="fill < 0.5">
					@if (fill > 0 && fill < 1) { {{ 'star_half' }} } @if (fill >= 1) { {{
					'star' }} } @else { {{ 'star' }} }
				</mat-icon>
			</button>
			}
		</td>
	</ng-container>

	<!-- Secondary Column -->
    <ng-container cdkColumnDef="secondary">
      <td cdk-cell [attr.colspan]="columns().length" *cdkCellDef="let row; let dataIndex = dataIndex;">
			dataIndex: {{ dataIndex }}
		
      </td>
    </ng-container>


	<tr
		cdk-header-row
		*cdkHeaderRowDef="columns(); sticky: true"
		class="sticky-header"></tr>

	<!-- As we utilize multiTemplateDataRows directive for secondary row, the rowIndex reference should be dataIndex,
	 i.e: let rowIndex = dataIndex, NOT index, i.e: let rowIndex = index -->
	<tr 
	    #test
		cdk-row 
		*cdkRowDef="let row; columns: ['secondary']; let rowIndex = dataIndex"></tr>

	<tr
		cdk-row
		*cdkRowDef="let row; columns: columns(); let rowIndex = dataIndex"></tr>
	
</table>
