.side-menu-tree-node {
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: 0.5rem;
	padding: 0.5rem;

	button {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.side-menu-tree-node-text {
		width: 100%;
		justify-self: start;
		flex-grow: 1;
	}
}
